<div class="backdrop"></div>
<header class="main-header">
    <figure class="main-header__logo">
        <img src="/img/logo.svg" alt="Drômadélice">
    </figure>
    <button id="side-menu-toggle">Menu</button>
    <nav class="main-header__nav">
        <%- include('./nav-list.ejs') %>
    </nav>
</header>

<nav class="mobile-nav">
    <%- include('./nav-list.ejs') %>
</nav>
