<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__list">
            <li class="main-header__list-item">
                <a class="main-header__link <%= path === '/' ? 'is-active' : ''%>" href="/">Shop</a>
            </li>
            <li class="main-header__list-item">
                <a class="main-header__link <%= path === '/admin/add-product' ? 'is-active' : ''%>" href="/admin/add-product">Add product</a>
            </li>
        </ul>
    </nav>
</header>
