<div class="backdrop"></div>
<header class="main-header">
    <a class="main-header__logo" href="/">
        <img src="/img/logo.svg" alt="Drômadélice">
    </a>
    <button id="side-menu-toggle">Menu</button>
    <nav class="main-header__nav">
        <%- include('./nav-list.ejs') %>
    </nav>
</header>

<nav class="mobile-nav">
    <%- include('./nav-list.ejs') %>
</nav>
