<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{docTitle}
    link(rel="stylesheet", href="/style/main.css")
    block styles
body
  header.main-header
    nav.main-header__nav
      ul.main-header__list
        li.main-header__list-item
          a.main-header__link(href="/", class=(path ==='/' ? 'is-active' : '')) Shop
        li.main-header__list-item
          a.main-header__link(href="/admin/add-product", class=(path ==='/admin/add-product' ? 'is-active' : '')) Add product
  main.main
    block content
