.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
}

.product-item {
    width: 20rem;
    max-width: 95%;
    display: flex;
    flex-direction: column;
}

.product__title {
    font-size: 1.4rem;
    text-align: center;
    font-weight: 600;
}

.product__price {
    text-align: center;
    color: #4d4d4d;
    margin-bottom: 0.5rem;
}

.product__content {
    flex-grow: 1;
}

.product__description {
    text-align: center;
}

.product__image img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.product-item--detail {
    width: auto;
    padding: 1.5rem;
}

.product-item--detail .product__title {
    font-size: 1.8rem;
}

.product-item--detail .product__title,
.product-item--detail .product__price,
.product-item--detail .product__description {
    text-align: left;
}

.product__body {
    display: flex;
    flex-wrap: wrap;
}

.product-item--detail .product__image,
.product-item--detail .product__content {
    flex-basis: 50%;
}

.product-item--detail .product__image img {
    height: 400px;
}

.product-item--detail .product__content {
    display: flex;
    padding-left: 1.5rem;
    flex-direction: column;
}

.product-item--detail .product__description {
    font-size: 1.4rem;
    flex-grow: 1;
}
