<%- include('includes/head.ejs') %>
    <style>
        img {
            display: block;
            margin: auto;
        }
    </style>
</head>
<body>

<%- include('includes/nav.ejs') %>
<main class="main">
    <div class="container">
        <div class="card" style="padding-bottom: 0">
            <h1 class="main-title">Page not found</h1>

            <img src="/img/tenor.gif" alt="Travolta">
        </div>
    </div>
</main>
<%- include('includes/end.ejs') %>

