<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page not found</title>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style/main.css">
    <style>
        img {
            display: block;
            margin: auto;
        }
    </style>
</head>
<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__list">
                <li class="main-header__list-item">
                    <a class="main-header__link" href="/">Shop</a>
                </li>
                <li class="main-header__list-item">
                    <a class="main-header__link" href="/admin/add-product">Add product</a>
                </li>
            </ul>
        </nav>
    </header>

    <main class="main">
        <div class="card" style="padding-bottom: 0">
            <h1 class="main-title">Page not found</h1>

            <img src="/img/tenor.gif" alt="Travolta">
        </div>
    </main>
</body>
</html>
