<div class="container">
  <div class="card" style="padding-bottom: 0">
    <h1 class="main-title">Page not found</h1>

    <img src="/img/tenor.gif" alt="Travolta" style="margin: auto">
  </div>
</div>
