extends layouts/main-layout

block content
  .container
    .card(style="padding-bottom: 0")
      h1.main-title Page not found
      img(src="/img/tenor.gif", alt="Travolta", style="margin: auto;")
