<%- include('includes/head.ejs') %>
</head>
<body>
<%- include('includes/nav.ejs') %>

<main class="main">

    <form class="form" action="add-product" method="post">

        <div class="card">
            <h1 class="main-title">Add product</h1>
            <div class="form-group">
                <label class="form-label" for="title">Product title</label>
                <input class="form-control" type="text" name="title" id="title">
            </div>

            <button class="btn" type="submit">Add product</button>
        </div>

    </form>
</main>
<%- include('includes/end.ejs') %>
