extends layouts/main-layout

block content
  form.form(action="add-product", method="post")
    .card
      h1.main-title
      .form-group
        label.form-label(for="title") Product title
        input.form-control(type="text", name="title", id="title")
      button.btn(type="submit") Add product
